.Pmain{
    border-bottom: solid 4px white;
    padding: 15px;
}
.Pmain h1{
    justify-self: center;
    font-size: xx-large;
}
.Pmain p{
    justify-self: center;
    font-size: large;
}
.Pmain .p2{
    color: rgb(249, 102, 79);
    font-size: medium;
}
.TeamDev{
    color: inherit;
}
.TeamDev .TeamName{
    padding: 5px;
    font-weight: normal;
}
.TeamDev :hover{
    color: #61b85e;
}
.PList div{
    background-color: rgb(70, 70, 70);
    color: rgb(199, 199, 199);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    border-bottom: solid 4px #61b85e;
    border-top: solid 4px #61b85e;
    max-width: 310px;
    justify-self: center;
    text-align: justify;
    hyphens: auto;
    text-justify: inter-word;
    padding: 10px;
}
.DevP{
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}